<div class="container">
  <div class="row">
    <a href="/">
    <div class="twelve columns splash">
       <h1>FOOD. FIGHT.</h1>
    </div>
    </a>
  </div>

  <div class="row">
    <div class="six columns">
      <div class="u-pull-right">
        <form method="POST" action="/login">
        <div>
          <input type="text" placeholder="Name" name="name" required>
          <input class="button-primary" type="submit" alight="bottom" value="Log In">
        </div>
        </form>
        {{#if noStudent}}
        <p>Sorry, we don't have any student named {{noStudent}} in our records!</p>
        {{/if}}
      </div>
    </div>

    <div class="six columns">
      <div class="u-pull-left">
        <form method="POST" action="/signup">
          <div>
            <input type="text" placeholder="Name" name="name" required>
            <input class="button-primary" type="submit" value="Sign Up">
          </div>
        </form>
        {{#if duplicateStudent}}
        <p>Sorry, a student with the name {{duplicateStudent}} is already in our records!</p>
        {{/if}}
      </div>
    </div>
  </div>

{{> voteTally }}

</div>